<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spypet.com.spypet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ActLogin"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActPrincipal"
            android:label="@string/TelaPrincipal"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".ActCadastroUsuario"
            android:label="@string/TelaUsuario"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActLeitorQRCode"
            android:label="@string/TelaQRCode"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActPets"
            android:label="@string/TelaPets"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActCadastroPet"
            android:label="@string/TelaPets"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActCadastroMedicamento"
            android:label="@string/TelaMedicamento"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActCadastroCompromisso"
            android:label="@string/TelaCompromisso"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActCadastroVacina"
            android:label="@string/TelaVacina"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActNotificacoes"
            android:label="@string/TelaNotificacoes"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity android:name=".ActPetPerdido"
            android:label="@string/TelaPetsPerdidos"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".ActTelaMapa"
            android:configChanges="orientation|screenSize"
            android:label="@string/tituloMapa">
        </activity>

        <activity
            android:name=".ActMapa"
            android:label="@string/title_activity_act_mapa"></activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

</manifest>
